body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, pre, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea {
    font: 14px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
ul, ol { list-style: none; }
a { text-decoration: none; }
fieldset, img { border: none; }
button, input, select, textarea {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    border: none;
    height: 1px;
}
html { overflow-y: scroll; }
.fr {
    float: right;
}
.fl {
    float: left;
}
.clearfix {
    overflow: hidden;
    clear: both;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
.hidden{
  display: none;
}